<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-navigation-links">
    <div class="navigation-links-links">
      <a href="index.html" class="navigation-links-link navLink">
        <span>Mission</span>
      </a>
      <a href="index.html" class="navigation-links-link1 navLink">
        <span>Take Action</span>
      </a>
      <a href="index.html" class="navigation-links-link2 navLink">
        <span>News</span>
      </a>
      <a href="index.html" class="navigation-links-link3 navLink">
        <span>Contact</span>
      </a>
    </div>
    <div class="navigation-links-hamburger">
      <img
        alt="image"
        src="public/hamburger.svg"
        class="navigation-links-image"
      />
    </div>
  </nav>
</div>
