.number-number {
  position: relative;
  background-color: #ffffff;
}
.number-root-class-name {
  background-color: #e8dada;
}
.number-root-class-name1 {
  background-color: #dfa6a6;
}
.number-root-class-name2 {
  background-color: #d47979;
}
@media(max-width: 479px) {
  .number-number {
    width: 40px;
    height: 40px;
  }
  .number-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
}
