<div>
  <link href="./steps.css" rel="stylesheet" />
  <div class="steps-steps-list">
    <div class="steps-list">
      <div class="steps-section">
        <div class="number-number number">
          <span class="number-text"><span>1</span></span>
        </div>
        <span class="steps-caption">
          <span>Lorem ipsum dolor sit amet</span>
        </span>
      </div>
      <div class="steps-divider"></div>
      <div class="steps-section1">
        <div class="number-number number number-root-class-name">
          <span class="number-text"><span>2</span></span>
        </div>
        <span class="steps-caption1">
          <span>Duis aute irure dolor in reprehenderit</span>
        </span>
      </div>
      <div class="steps-divider1"></div>
      <div class="steps-section2">
        <div class="number-number number number-root-class-name1">
          <span class="number-text"><span>3</span></span>
        </div>
        <span class="steps-caption2">
          <span>Excepteur sint occaecat cupidatat</span>
        </span>
      </div>
      <div class="steps-divider2"></div>
      <div class="steps-section3">
        <div class="number-number number number-root-class-name2">
          <span class="number-text"><span>4</span></span>
        </div>
        <span class="steps-caption3">
          <span>Sed ut perspiciatis unde omnis</span>
        </span>
      </div>
    </div>
  </div>
</div>
